################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WPFBasics/WPFBasics/bin/Debug
/WPFBasics/WPFBasics/obj
/WpfTreeViewusingMVVM/WpfTreeView/WpfTreeView/bin/Debug
/WpfTreeViewusingMVVM/WpfTreeView/WpfTreeView/obj/Debug
/WpfTreeViewusingMVVM/WpfTreeView/WpfTreeView/obj/Release
/WpfTreeViewAndValueConverters/WpfTreeView/.vs/WpfTreeView/v16
/WpfTreeViewAndValueConverters/WpfTreeView/WpfTreeView/obj
/WpfTreeViewAndValueConverters/WpfTreeView/WpfTreeView/bin/Debug
/WpfTreeViewusingMVVM/WpfTreeView/.vs/WpfTreeView/v16
/Project-ChatApplication/FasettoWord/.vs/FasettoWord/v16
/Project-ChatApplication/FasettoWord/FasettoWord/obj/Debug
/Project-ChatApplication/FasettoWord/FasettoWord/bin/Debug
/Project-ChatApplication/FasettoWord/FasettoWord.Core/bin/Debug
/Project-ChatApplication/FasettoWord/FasettoWord.Core/obj/Debug
